<h1>New dose </h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit cocktail", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to cocktail list", cocktails_path %>
